<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="{% url 'app:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password" placeholder="Confirm Password">
        {% if message %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    <p>Don't have an account? <a href="{% url 'app:register' %}">Sign Up</a></p>
</div>
{% endblock content %}
</body>
</html>